.container {
  display: flex;
  height: 100vh;
  background-color: #f9fafb;
  overflow: hidden;
}

.sidebar {
  transition: transform 0.3s ease-in-out;
  /* background-color: #ffffff; */
  height: 100vh;
  overflow: hidden;
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.hamburger {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: background-color 0.3s;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
  }

  .hamburger {
    display: block;
  }
}
